<IfModule mod_rewrite.c>
    RewriteEngine On

    # Checks to see if the requested file exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything else to index.php
    RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]
</IfModule>